name: .NET CI/CD

on :
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3                    # Checkout code
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '.0.x'                   # Setup .NET SDK
      - run: dotnet restore                           # Restore dependencies
      - run: dotnet build --no-restore --configuration Release   # Build project
      - run: dotnet test --no-build                   # Run tests
      - run: dotnet publish -c Release -o ./publish   # Publish app
